body {
	margin: 0px;
	/* render fonts less thick*/
	-webkit-font-smoothing: antialiased;
}

.section {
	width: 340px;
	float: left;
	padding: 20px 20px 20px 0;
}
p {
	font-size: 13px;
	font-family: Helvetica, Arial, sans-serif; 
	color: #ffffff;
	font-weight: 500;
	text-shadow: 0px 1px 2px #000;
	line-height: 18px;
}
.copyright {
	font-size: 11px;
	font-family: Helvetica, Arial, sans-serif; 
	color: #ffffff;
	font-weight: 500;
	text-shadow: 0px 1px 1px #000;
	
}
.button {
	width: 100px;
	border: 2px solid #494848;
	background-color: #666565;
	color: #FFF;
	text-align: center;
	font-size: 14px;
	font-family: Helvetica, Arial, sans-serif;
	font-weight: 600;
	border-radius: 6px;
	padding: 12px 22px;
	box-shadow: inset 0px 1px 0px 0px #808080;
	text-shadow: 0px 1px 2px #000;
	border-top: 1px solid #888;
}
.how {
	padding-right: 50px;
	width: 300px;
}
.gold {
	width: 200px;
	border: 1px solid #C7A90B;
	background-color: #FCFC83;
	background: linear-gradient(to bottom, #f9e04d 0%,#e0b702 87%); /* W3C */
	text-align: center;
	font-size: 18px;
	font-family: Helvetica, Arial, sans-serif;
	font-weight: 600;
	border-radius: 6px;
	padding: 18px 28px;
	box-shadow: inset 0px 1px 0px 0px #FFECB6, 0 1px 3px #8B6C09;
	text-shadow: 0px 1px 2px #C49106;
	border-top: 1px solid #F1DF0F;
	color: #FFF;
}
.connect hr {
	margin-top: 7px;
	margin-bottom: 7px;
	height: 1px;
	border: 0px;
	border-top: 2px solid #444;
	margin-right: 65px;
}
.copyright hr {
	margin-top: 66px;
	margin-bottom: 7px;
	height: 1px;
	border: 0px;
	border-top: 2px solid #444;
	margin-right: 50px;
}
hr {
	margin-top: 7px;
	margin-bottom: 7px;
	height: 1px;
	border: 0px;
	border-top: 2px solid #444;
	margin-right: 65px;
}
span {
	font-size: 14px;
	font-family: Helvetica, Arial, sans-serif;
	font-weight: 600;
	text-shadow: 0px 1px 2px #000;
	margin-top: 20px;
	line-height: 26px;
	color: #ffffff;
}
.email {
	width: 240px;
	border: 1px solid #666666;
	background-color: #ffffff;
	color: #888888;
	text-align: left;
	font-size: 14px;
	font-family: Helvetica, Arial, sans-serif;
	font-weight: 600;
	border-radius:6px;
	padding:12px 16px;
	box-shadow: inset 0px 2px 4px 0px gray;
	border-top: 1px solid #888888;
	margin-top: 24px;
	margin-bottom: 20px;
}
#foot {
	/*width: 1120px;*/
	position: absolute;
	right: 0;
	left: 0;
	bottom: 0;
	background-color: #555;
	height: 400px;
}
.foot {
	width: 1120px;
	margin-left: auto;
	margin-right: auto;
	background-color: #555;
}
.foot ul {
	padding: 0px;
	float: left;
	margin-top: 0px;
}
.foot ul li {
	list-style-type: none;
	margin-right: 16px;
	margin-bottom: 10px;
}
h3	{
	font-family: Helvetica, Arial, sans-serif;
	color: #ffffff;
	font-size: 20px;
	font-weight: 600;
}
